<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*<link href="~/Content/weui/weui.min.css" rel="stylesheet" />
    <link href="~/Content/weui/jquery-weui.min.css" rel="stylesheet" />*@

    @Styles.Render("~/Content/weuicss")
</head>
<body>
    <divL>
        @RenderBody()
    </divL>
</body>
</html>
